{% extends 'base.html' %}
{% load static %}
{% block title %} Story 8 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<section id="hero">
    <div class="hero-contain">
        <h1><br><br><br></h1>
      <h1>Books Collection</h1>
  <h2>Serach your favorite book</h2>
  <table>
    <th>
        <input class = "placeholder" type="text" id="keyword" placeholder="masukkan kata kunci">
        <ol id = "daftar_isi"class= "flex-container"></ol>
    </th>
  </table>
</div>

  </section><!-- #hero -->

{% endblock %}
{% block script %}
<script type="text/javascript">
    $("#keyword").keyup(function(){
        var ketikan = $("#keyword").val();
        console.log(ketikan);
        //panggil menggunakan teknik AJAX
        $.ajax({
        url : '/story8/data?q='+ ketikan,
        success : function(data){
            var array_items = data.items;
            $('#daftar_isi').empty();
            var i;
            for (i = 0; i < array_items.length; i++) {
            var judul = array_items[i].volumeInfo.title;
            var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail
            $('#daftar_isi').append("<li>"+judul+ "<br><img src="+gambar+ "alt=not uploaded>" +"</li>")
            }
        } 
        });
    });
</script>
{% endblock %}


