section {
	min-height: 100vh;
	max-width: 100vw;
	scroll-snap-align: start;
	padding: 5vh;
  	background-color:#8C9AB6;
	color: #000000;
}
body {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size:22px;
	color: #000000;
}
section#home {
  	background-color:white;
	justify-content: center;
    text-align: center;
}
#home .title {
	font-family: "Poppins", sans-serif;
    font-weight: bold;
	font-size: 50px;
	line-height: 74px;
	letter-spacing: 0.15em;
	padding:10px;
	padding-bottom: 20px;
}
#book table td, #book .table thead th {
	border: 1px solid black;
}
#book .table thead th {
	vertical-align: middle;
}
#book table thead th {
	background-color: #FAF0CA
}

.section-title {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.2em;

	padding: 10px 0px 40px 0px;
	color: #D35E71;
}

.click:hover{
	background-color: #585858 !important;
	text-decoration: none;
}

@media (max-width: 991.98px) {
	.section-title{
		font-family: "Poppins", sans-serif;
		font-size: 35px;
	}
}

.btn {
	background-color: #EFACAC;
	border: 1px black;
	font-size:17px;
	font-color:black;
	margin: 10px 0px 10px 0px;
	text-align: center;
	justify-content: center;
    align-items:center;
}

/*ACCORDION*/
.accordion-container{
  position: relative;
  max-width: 60vw;
  height: auto;
  margin: 10px auto;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ECECEC;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a.active {
  background-color:#EFACAC;
  color: #fff;
}
.content {
  background-color: #fff;
  border: 1px solid #ddd;
  display:none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

button.up, button.down {
  background-color:#EFACAC;
  color: #fff;
  font-size:18px;
}

.active .up, .active .down {
  background-color: #fff;
  color: #555;
}


/*CHANGE THEME*/
section.change-theme {
  	background-color:#f2e8e2;
}

#button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #EFACAC;
	border: none;
	border-radius: 12px;
	box-shadow: 0 7px #999;
  }
  
  #button:hover {
	  background-color: #6f859b;
	text-decoration: none;
	}
  
  #button:active {
	background-color: #EFACAC;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
	text-decoration: none;
  }

.change-theme > .section-title {
	color: #6f859b;
}

.change-theme .up, .change-theme .down {
 	background-color:#6f859b;
}

.change-theme .active .up, .change-theme .active .down {
	background-color: #e3bab3;
}

.change-theme .bar {
	background-color: #e3bab3;
}

.change-theme .bar.active {
	background-color: #6f859b;
  	color: #e3bab3;
}

.change-theme .content {
  background-color: #c2c5cb;
}

.dropdown .btn {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
  }
  
  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }
  
  #hero:before {
	content: "";
	background: #6f859b;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  
  #hero .hero-container {
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 20px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
  
  }
  #hero .profpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 13%;
}
  
  
  
  #hero h1 {
	margin: 0px 0 0px 0;
	top: 800px;
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	/* text-transform: uppercase; */
	color: #fff;
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  }
  
  #hero h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 24px;
  }
  
  @media (max-width: 768px) {
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 0px;
	}

  }
  
	#hero .btn-get-started {
		font-family: "Poppins", sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 8px 28px;
		border-radius: 50px;
		transition: 0.5s;
		border: 2px solid #fff;
		color: #fff;
	  }
	  
	  #hero .btn-get-started:hover {
		background: #F4D35E;
		border: 2px solid #F4D35E;
	  }

	  #hero .btn-get-started2{
		font-family: "Poppins", sans-serif;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 1px;
		display: block;
		padding: 8px 28px;
		border-radius: 50px;
		transition: 0.5s;
		border: 2px solid #fff;
		color: #fff;
		align-self: start;
		text-decoration: none;
	  }

	  #hero .btn-get-started2:hover {
		background: #F4D35E;
		border: 2px solid #F4D35E;
	  }

	  #hero .hero-contain .placeholder {
		font-size: 20px;
		color: #6f859b;
		font-family: "Poppins", sans-serif;
	  }
  
	  #hero .hero-contain {
		position: relative;
		bottom: 0px;
		top: 0px;
		left: 20px;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		background-size: auto;
	  
	  }

	  

ol {
	counter-reset: section;
	color: #ffffff;
  }

