{% extends 'base.html' %}
{% load static %}
{% block title %} Story 7 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section class="normal">
  <div class="section-title"> <br><br> Story 7 </div>

  <div class="accordion-container">
    <div id="activity" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Current Activity
        <div>
          <button class="up"> ^ </button>
          <button class="down"> v </button>
        </div>
      </a>

      <div class="content">
        <p> I'm an undergraduater student of University of Indonesia, Faculty of Computer Science <br> 
          I'm a student of PPM Al Faqih Mandiri </p>
      </div>
    </div>

    <div id="experience" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Experience
        <div>
          <button class="up"> ^ </button>
          <button class="down"> v </button>
        </div>
      </a>

      <div class="content">
        <p> Since i was a college student, I've been a <br>
          Staff of Creativ Wisgan <br>
          Mentor OKK UI <br>
          Deputy Chair of Media DPM  <br>
          Staff Project BKUI </p>
      </div>
    </div>
    
    <div id="achievement" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Achievement
        <div>
          <button class="up"> ^ </button>
          <button class="down"> v </button>
        </div>
      </a>

      <div class="content">
        <p> Still trying </p>
      </div>
    </div>
    
    <div id="contact" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Hobbies
        <div>
          <button class="up"> ^ </button>
          <button class="down"> v </button>
        </div>
      </a>

      <div class="content">
        <p> Drawing, Painting, Journalling </p>
      </div>
    </div>
  </div>
  <button class="theme ml-3 mb-3 fixed-bottom background-color: #e3bab3;" id="button"> Change Theme </button>
</section>
{% endblock %}

{% block script %}  <script src="{% static 'js/accordion.js' %}"></script> {% endblock %}