<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#bs-example {
  overflow: hidden;
  background-color: #EFACAC;
}

#bs-example a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#bs-example a:hover {
  background-color: #ddd;
  color: #EFACAC;
}

#bs-example a.active {
  background-color: #8C9AB6;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
</style>
</head>
<body>

  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">🐾</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'main:home' %}#hero" class="nav-item nav-link active">Home</a>
                <a href="{% url 'story7:about' %}" class="nav-item nav-link">Story 7</a>
                <a href="{% url 'story8:search' %}" class="nav-item nav-link">Story 8</a>
            </div>
            {% if user.is_authenticated %}
            <form class="form-inline ml-auto">
              <a href="#" class="nav-item nav-link">Halo {{ request.user.username}} </a>
              <a href="/admin/logout/?next=/story8" class="nav-item nav-link">Logout</a>
            </form>
    
            {% else %}
            <form class="form-inline ml-auto">
              <a href="{% url 'main:signup' %}" class="nav-item nav-link">Register</a>
              <a href="/admin/login/?next=/story8" class="nav-item nav-link">Login</a>
            </form>

            {% endif %}

        </div>
    </nav>
</div>

<!-- <div id="navbar">
  <a class="active" href="{% url 'main:home' %}#hero">Home</a>
  <a href="{% url 'story7:about' %}">Story 7</a>
  <a href="{% url 'story8:search' %}">Story 8</a>
</div>


<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script> -->

</body>
</html>
