{% extends 'base.html' %}
{% load static %}
{% block title %} Alifah Azka Nisrina {% endblock %}

{% block content %}
{% include 'navbar.html' %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <style>
    a:link {
color:#ffffff;
text-decoration:none;
}

a:hover {
columns: #333333;;
text-decoration : none;
}

a:visited {
color:#ffffff;
text-decoration : none;
}
  </style>
	<section id="hero">
		<div class="hero-container">
		  <h1>Hello! <br></h1>
      <h2>Welcome back to my website</h2>
      <table>
        <th>
          <a href="{% url 'story7:about' %}" class="btn-get-started">Story 7</a>
        </th>
        <th>
          <a href="{% url 'story8:search' %}" class="btn-get-started">Story 8</a>
        </th>
      </table>

    </div>

    <button class="theme ml-3 mb-3 fixed-bottom" id="button"><a href="http://alppw.herokuapp.com/">Another Story</a></button>

	  </section><!-- #hero -->
{% endblock content %}
